.header {
  font-size: 5rem;
  text-align: center;
  color: white;
  border: solid 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  background-color: pink;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

