.pokemon-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: large;
    text-align: center;
    justify-content: center;
}
img {
    border: dotted white;
}