.pokemon-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: large;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    margin-left: 0;
}
img {
    border: dotted white;
}

button {
    background-color: pink; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
  }

  .pokemon-detail {
      justify-content: center;
  }